/node_modules
/vendor
Dockerfile
Dockerfile.*
*.dockerfile
*.Dockerfile
*.dockerignore
.git
.vagrant
.idea
/bootstrap/cache/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/disks/*
/storage/framework/views/*
/storage/logs/*
yarn-error.log
/docker
README.md
